<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Travel Buddy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" />
</head>

<body id="dining" class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/findBuddy">Live Chat</a></li>
							<li><a href="/diningPage">Dining Locator</a></li>
						</ul>
					</li>
					<li><a href="/logout" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="container medium">
			<header>
				<h2>Hungry?</h2>
				<h3>Find restaurants in your area below .. </h3>
			</header>
			<div id="zip" class="box">
				<form class="dining hidden" method="post" action="/diningPage">
					<input class="zip" type="text" min="0" value="" name="Zipcode" placeholder="Enter Zipcode">
					<input id="latitude" type="hidden" name="latitude" value="">
					<input id="longitude" type="hidden" name="longitude" value="">
					<div class="col-12">

						<input class="food" type="submit" value="Find Locations">
					</div>
				</form>

			</div>
			<div class="restaurantsName">
				<%
				 if(restaurants) { %>
				<p class="result">Here's a list of restaurants near you <%= zip %> </p>
				<ul id="list">
					<% 	for(let i=0; i < restaurants.length; i++)

					{ %>
					<li class="allLinks">
						<% console.log(restaurants[i].restaurant_website )
						 if(restaurants[i].restaurant_website == '' || restaurants[i].restaurant_website.startsWith('http:') )

						 { %>
						<%=	restaurants[i].restaurant_name %> |
						<%=	restaurants[i].address.formatted %>
						<% } else {  %>

						<a class="goodlink" href="<%= restaurants[i].restaurant_website %>"> <%= restaurants[i].restaurant_name %> </a>
						| <%=	restaurants[i].address.formatted %> <% } %>
					</li>
					<% } %>
				</ul>
				<% } %>
			</div>

	</div>

	</section>

	</div>

	<!-- Scripts -->

	<script src="jquery.min.js"></script>
	<script src="jquery.dropotron.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
	<script src="browser.min.js"></script>
	<script src="breakpoints.min.js"></script>
	<script src="util.js"></script>
	<script src="main.js"></script>

</body>

</html>
