<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Travel Buddy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" />
</head>

<body id="expenses" class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/findBuddy">Live Chat</a></li>
							<li><a href="/diningPage">Dining</a></li>
							<li><a href="/livechatPage">Rate Hospitals</a></li>
						</ul>
					</li>
					<li><a href="/logout" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="container medium">
			<header>
				<h2>Track Expenses</h2>
			</header>
			<div class="box">

				<form class="expense" method="post" action="/expensePage">
					<h3>Enter Expense info below...</h3>
					<div class="row gtr-50 gtr-uniform">
						<% let date = new Date()
				    date.setMinutes(date.getMinutes() - date.getTimezoneOffset())
						let current = date.toJSON().slice(0,10);
						let month = date.getMonth() + 1
						let day = date.getDate()
						let year = date.getFullYear()
						%>
						<input type="date" id="start" name="currentDate" value="<%= current %>" min="<%= year %>-<%= month %>-01" max="<%= year %>-<%= month %>-31">
						<input type="time" id="appt" name="time">
						<select class="category" name="category">
							<option value="Travel">Travel</option>
							<option value="Food">Food</option>
							<option value="Housing">Housing</option>
							<option value="Misc">Misc</option>

						</select>
						<input class="amount" type="number" step="0.01" min="0" value="" name="amount" placeholder="amount spent">
						<input class="description" type="text" min="0" value="" name="description" placeholder="Description">
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" value="Enter"></li>
							</ul>
						</div>
					</div>
				</form>
				<section class="report">
					<h3>or run a full expense report</h3>
					<form class="" action="/expenseReport" method="post">
						<p> <span> Start Date: </span> <input class="categorys" type="date" name="startDate" value="<%= current %>"></p>
						<p> <span> End Date: </span> <input class="categorys" type="date" name="endDate" value="<%= current %>">
							<a href="/expenseReport"> <input class="runExpense" type="submit" value="Run Expense Report"></a>
						</p>
					</form>
				</section>
			</div>

		</section>

		<section id="main" class="container medium">
			<h2>Latest Expenses ...</h2>
			<div class="box">
				<%
				let total = 0
				let stop = 0
				if(expenses.length > 3){
					stop = expenses.length - 3
				}
				for(var i=expenses.length - 1; i >= stop; i--) {%>
				<div class="expenseBox">
					<p>Date: <span class="item"><%= expenses[i].currentDate %></span></p>
					<p>category: <span class="item"><%= expenses[i].category %></span></p>
					<p>Expense Amount: $<span class="item"><%= expenses[i].amount %></span></p>
					<p>Description: <span class="item"><%= expenses[i].description %></span></p>
					<p style="display: none" class="item"> <%= expenses[i]._id %></p>
					<p><span><i class="fa fa-trash" aria-hidden="true"></i></span></p>
				</div>
				<% } %>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="jquery.min.js"></script>
	<script src="jquery.dropotron.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
	<script src="browser.min.js"></script>
	<script src="breakpoints.min.js"></script>
	<script src="util.js"></script>
	<script src="main2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<script>
		var socket = io();
		socket.on('userMessage', function(socketMsgs) {
			const socketMsg = JSON.parse(socketMsgs)
			console.log('expensespage', socketMsg);
			if (socketMsg.to === "<%= myId %>") {
				var answer = confirm("You have a chat request from " + socketMsg.fromName + ", would you like to connect?")
				if (answer) {
					window.location.href = "/livechatPage/" + socketMsg.from
						// window.location.href = "/chat?userName=<%= myId %>&chatwith=" + socketMsg.from + "&firstMsg=" + socketMsg.msg
				}
			}
		});
	</script>
</body>

</html>
