<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Contact - Alpha by HTML5 UP</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" />
</head>

<body class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/livechatPage">Live Chat</a></li>
							<li><a href="/diningPage">Dining</a></li>
							<li><a href="/livechatPage">Ra</a></li>
						</ul>
					</li>
					<li><a href="/signup" class="button">Sign Up</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<!-- <section id="main" class="container medium"> -->
			<!-- <header>
				<h2>Track Expenses</h2>
			</header>
			<div class="box">
				<form class="expense" method="post" action="/expensePage">
					<div class="row gtr-50 gtr-uniform">
						<% let date = new Date()
						let month = date.getMonth() + 1
						let day = date.getDate()
						let lastDay = date.getDate() + 7
						let year = date.getFullYear()
						%>
						<input type="date" id="start" name="currentDate" value="<%= year %>-<%= month %>-<%= day %>" min="<%= year %>-<%= month %>-01" max="<%= year %>-<%= month %>-31">
						<input type="time" id="appt" name="time">
						<select class="category" name="category">
							<option value="Travel">Travel</option>
							<option value="Food">Food</option>
							<option value="Housing">Housing</option>
							<option value="Misc">Misc</option>

						</select>
						<input type="number" min="0" value="" name="amount" placeholder="amount spent">
						<input type="text" min="0" value="" name="description" placeholder="Description">
						<div class="col-12">
							<ul class="actions special">
								<li><input type="submit" value="Enter"></li>
							</ul>
						</div>
					</div>
				</form>
				<section class="report">
					<form class="" action="/expenseReport" method="post">
						<input type="text" name="startDate" value="" placeholder="start date" na>
						<input type="text" name="endDate" value="" placeholder="end date">
					<a href="/expenseReport">	<input class="runExpense" type="submit" value="Run Expense Report"></a>
					</form>
				</section>
			</div>

		</section> -->

		<section id="main" class="container medium">
			<h2>Expense Report</h2>
			<div class="listBox">
				<%
				let total = 0
				for(var i=0 ; i < expenses.length; i++) {%>
				<div class="expenseBox">
				<p>Date: <span><%= expenses[i].currentDate %></span></p>
				<p>category: <span id="category"><%= expenses[i].category %></span></p>
				<p>Expense Amount: <span><%= expenses[i].amount %></span></p>
				<p>Description: <span><%= expenses[i].description %></span></p>
				<p><span><i class="fa fa-trash" aria-hidden="true"></i></span></p>
				</div>
				<% } %>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="jquery.min.js"></script>
	<script src="jquery.dropotron.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
	<script src="browser.min.js"></script>
	<script src="breakpoints.min.js"></script>
	<script src="util.js"></script>
	<script src="main.js"></script>

</body>

</html>
