<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Travel Buddy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="main.css" />
</head>

<body id="expenseReport" class="is-preload">
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/findBuddy">Live Chat</a></li>
							<li><a href="/diningPage">Dining</a></li>
						</ul>
					</li>
					<li><a href="/logout" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>





		<section id="main" class="container medium">
			<h2>Expense Report</h2>
			<div class="listBox">
				<table>


					<tr id="headers">

						<th class="th">Date:</th>
						<th class="th">Category: </th>
						<th class="th">Description: </th>
						<th class="th">Expense Amount:</th>


					</tr>

					<%
				let total = 0
				if(expenses.length === 0) {%>
					<h2>No expenses found for that period ...</h2>
					<% }	else {

				for(var i=0 ; i < expenses.length; i++) {
					total = total + expenses[i].amount
					%>


					<tr>
						<td><%= expenses[i].currentDate %></td>
						<td><%= expenses[i].category %></td>
						<td><%= expenses[i].description %></td>
						<td>$<%= expenses[i].amount %></td>
            <td style="display: none" >$<%= expenses[i]._id %></td>
						<td><i class="fa fa-trash" aria-hidden="true"></i></td>
					</tr>


					<% } %>

					<% } %>
				</table>
				<div class="total">
								<p >Total = $<%= total %></p>
				</div>
				<ul class="actions special">
					<li> <a href="/expenseReport?format=CSV"> <input type="submit" value="Download CSV" > </li></a>
				</ul>
			</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="jquery.min.js"></script>
	<script src="jquery.dropotron.min.js"></script>
	<script src="jquery.scrollex.min.js"></script>
	<script src="browser.min.js"></script>
	<script src="breakpoints.min.js"></script>
	<script src="util.js"></script>
	<script src="main.js"></script>

</body>

</html>
