<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Travel Buddy</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/main.css" />
	<script type="text/javascript" src="/chat.js"></script>

</head>

<body id="create" class="is-preload">

	<div id="page-wrapper">

		<!-- Header -->
		<header id="header">
			<nav id="nav">
				<ul>
					<li>
						<a href="#" class="icon solid fa-angle-down">Menu</a>
						<ul>
							<li><a href="/profile">Profile</a></li>
							<li><a href="/expensePage">Expenses</a></li>
							<li><a href="/findBuddy">Live Chat</a></li>
							<li><a href="/diningPage">Dining Locator</a></li>

						</ul>
					</li>
					<li><a href="/logout" class="button">Logout</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main -->
		<section id="main" class="container medium">
			<header>
				<h2>Live Chat</h2>
				<p>Conected with <%= otherUser.firstName %> <%= otherUser.lastName %></p>

			</header>

			<form id="formMessage" action="/nurseOneMessage" method="post" onsubmit="return false">
				<div class="box">

					<div class="row gtr-50 gtr-uniform">

						<div class="col-12">
							<div id="chat-body">

								<div id="output">

								</div>
							</div>
							<input id="user" value="<%= fullName %>" disabled rows="6" name="user">
						</div>
						<div class="col-12">
							<div id="chatMessages" style="display: none;">
								<%= JSON.stringify(messages) %>
							</div>
							<ul id="messages">

							</ul>
							<textarea id="message" placeholder="Enter your message" rows="6" name="aboutMe"></textarea>
						</div>
						<div class="col-12">
							<ul class="actions special">
								<li><input id="sendMessage" type="submit" value="Send" /></li>
							</ul>
						</div>
					</div>
				</div>
			</form>
		</section>

	</div>

	<!-- Scripts -->
	<script src="/jquery.min.js"></script>
	<script src="/jquery.dropotron.min.js"></script>
	<script src="/jquery.scrollex.min.js"></script>
	<script src="/browser.min.js"></script>
	<script src="/breakpoints.min.js"></script>
	<script src="/util.js"></script>
	<script src="/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>



	<script type="text/javascript">
		const socket = io({
			query: {
				room: '<%= otherUser._id > myId ? otherUser._id : myId %> ' + '_' + '<%= otherUser._id <= myId ? otherUser._id : myId  %>'
			}
		})
		const sendMessageButton = document.getElementById('sendMessage');
		const chatMessages = JSON.parse(document.querySelector('#chatMessages').innerText)
		for (let i = 0; i < chatMessages.length; i++) {
			showMessage(chatMessages[i], '<%= myId %>')
		}
		sendMessageButton.addEventListener('click', function(e) {
			e.preventDefault(); // prevents page reloading
			const messageElement = document.getElementById('message');
			const userElement = document.getElementById('user');
			const msg = {
				msg: messageElement.value,
				to: "<%= otherUser._id %>",
				from: "<%= myId %>",
				fromName: userElement.value
			}
			console.log("Trying to send Message", msg)
			socket.emit('userMessage', JSON.stringify(msg));

			messageElement.value = '';

		});
		socket.on('userMessage', function(socketMsgs) {
			const socketMsg = JSON.parse(socketMsgs)
			if (socketMsg.to === "<%= myId %>" || socketMsg.from === "<%= myId %>") {
				showMessage(socketMsg)

				// const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
				// const today = new Date();
				// const day = today.getDay()
				// const dd = today.getDate();
				// const mm = today.getMonth() + 1;
				// const yyyy = today.getFullYear();
				// const date = daysOfWeek[day] + " " + mm + '/' + dd + '/' + yyyy;
				// const time = today.toLocaleTimeString('en-US')
				// const name = document.getElementById('user');
				// const ul = document.getElementById('messages');
				// const li = document.createElement("LI");
				// const dateSpan = document.createElement("span");
				// const timeSpan = document.createElement("span");
				// const nameSpan = document.createElement("span")
				// const messageSpan = document.createElement("span")
				// const dateTextNode = document.createTextNode(date);
				// const timeTextNode = document.createTextNode(time);
				// const nameTextNode = document.createTextNode(socketMsg.fromName);
				// const messageTextNode = document.createTextNode(socketMsg.msg);
				// dateSpan.appendChild(dateTextNode);
				// timeSpan.appendChild(timeTextNode);
				// nameSpan.appendChild(nameTextNode)
				// messageSpan.appendChild(messageTextNode);
				//
				// let author = ''
				// if (socketMsg.to === "<%= myId %>"){
				// 	author = 'other'
				// } else {
				// 	author = 'self'
				// }
				//
				// li.appendChild(dateSpan);
				// li.appendChild(timeSpan);
				// li.appendChild(nameSpan);
				// li.appendChild(messageSpan);
				// ul.appendChild(li)
				// li.classList.add('message', author);
				// nameSpan.classList.add('chatterName');
			}
		});
	</script>

</body>

</html>
