<!doctype html>
<html>

<head>
  <title>Travel buddy</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="main.css">
</head>

<body class="is-preload">
  <div class="id="page-wrapper"">


  <header id="header">
    <nav id="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li>
          <a href="#" class="icon solid fa-angle-down">Menu</a>
          <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/expensePage">Expenses</a></li>
            <li><a href="elements.html">Live Chat</a></li>
          </ul>
        </li>
        <li><a href="/logout" class="button">Logout</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">

    <div class="page-header text-center">
      <h1 class="welcome"><i class="fas fa-door-open"></i></span>Welcome</h1>
    </div>

    <div class="row">
  <section class="parent">
    <P>PROFILE INFO</P>
      <img src="" alt="">
      <h3>First name: <span><%= profile.firstName %> </span>  Last name: <span><%= profile.lastName %> </span></h3>
      <h3>City: <span><%= profile.city %> </span> State: <span><%= profile.state %> </span> </h3>
      <h3>Currently Employed: <span><%= profile.currentEmployed %></span> </h3>
      <h3>About Me:<span><%= profile.aboutMe %> </span> </h3>
  </section>
  <section class="parent">
      <P>LAST FEW EXPENSES</P>
      <img src="" alt="">
      <h3>First name: <span><%= profile.firstName %> </span>  Last name: <span><%= profile.lastName %> </span></h3>
      <h3>City: <span><%= profile.city %> </span> State: <span><%= profile.state %> </span> </h3>
      <h3>Currently Employed: <span><%= profile.currentEmployed %></span> </h3>
      <h3>About Me:<span><%= profile.aboutMe %> </span> </h3>
  </section>
    </div>



    <script src="jquery.min.js"></script>
    <script src="jquery.dropotron.min.js"></script>
    <script src="jquery.scrollex.min.js"></script>
    <script src="browser.min.js"></script>
    <script src="breakpoints.min.js"></script>
    <script src="util.js"></script>
    <script src="main.js"></script>

</body>

</html>
