<!doctype html>
<html>

<head>
  <title>Travel buddy</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="main.css">
</head>

<body id="profile" class="is-preload">
  <div class="id=" page-wrapper"">


    <header id="header">
      <nav id="nav">
        <ul>
          <li>
            <a href="#" class="icon solid fa-angle-down">Menu</a>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/expensePage">Expenses</a></li>
              <li><a href="/findBuddy">Live Chat</a></li>
              <li><a href="/diningPage">Dining</a></li>
            </ul>
          </li>
          <li><a href="/logout" class="button">Logout</a></li>
        </ul>
      </nav>
    </header>


    <div class="container">

      <h1 class="profileH1">Welcome <span><%= profile.firstName %> </span> </h1>
      <div class="profileParent">
        <div class="profileImg">

          <form class="formTwo" action="/uploadAvi" method="POST" enctype="multipart/form-data">

            <% if(profile.img) {%>

            <img src="<%= profile.img %>" class="img-thumbnail" alt="profileImg">
            <% }	else { %>
            <img src="img/avi.jpeg" class="img-thumbnail" alt="profileImg">


            <% } %>


            <p> <input class="chooseFile" type="file" name="file"></p>
            <p> <input id="upload" type="submit" name="submit" value="upload"></p>
          </form>
        </div>


        <div class="profileInfo">
          <section class="parent">

            <P>PROFILE INFO</P>
            <h3 class="profileName"> <%= profile.firstName %> <%= profile.lastName %></h3>
            <h3> <%= profile.city %> , <%= profile.state %> </h3>
            <h3> <%= profile.currentEmployed %></h3>
            <h3><p><%= profile.aboutMe %> </p></h3>

          </section>

        </div>
      </div>



      <script src="jquery.min.js"></script>
      <script src="jquery.dropotron.min.js"></script>
      <script src="jquery.scrollex.min.js"></script>
      <script src="browser.min.js"></script>
      <script src="breakpoints.min.js"></script>
      <script src="util.js"></script>
      <script src="main.js"></script>

</body>

</html>
